version: "3.8"
services:
  web:
    build: .
    container_name: fio_streamlit
    environment:
      - MAPBOX_API_KEY=${MAPBOX_API_KEY}
      - PYTHONPATH=/app
      - FIO_MAX_POINTS=3000
      - FIO_READ_NROWS=6000
      - TILE_BASE_URL=/
      - TILE_SERVER_PORT=8081
    expose:
      - "8501"
      - "8081"
    volumes:
      - ../.streamlit/secrets.toml:/root/.streamlit/secrets.toml:ro
  nginx:
    image: nginx:alpine
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro


